<!-- <!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <meta name="author" content="Varun Kumar C K">
    <meta name="description" content="Engage Digital Demo App" />
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1, maximum-scale=1" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta id="theme-color" name="theme-color" content="#ffffff" />

  <base target="_blank" />

  <title>Engage Digital</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>

  <div class="container-fluid">
    <div class="row">
      <div class="col-9" style="text-align: center;background-color: rgb(209, 224, 200);">
        <p>
        <div style="color: #171618;"><strong>Click-to-Call Demo Application</strong></div>
        </p>
      </div>
      <div class="col" style="background-color: rgb(209, 224, 200);"">
        <div class=" callButton">
        <button id="engage-digital-click-to-call-btn"></button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-9">
      <br>
      <div style="color: blue;font-family:Georgia, 'Times New Roman', Times, serif;;">Guide to plug-in Click-to-Call
        feature to your website</div>
      <br>
    </div>
    <div class="col-3">
      <div class="row">
        <div class="innervideo">
          <div class="watermark">Local Video</div><video class="localVideo" id="engage-digital-local-video" autoplay
            loop muted playsinline></video>
        </div>
      </div>
      <div class="row">
        <div class="innervideo">
          <div class="watermark">Remote Video</div><video class="remoteVideo" id="engage-digital-remote-video" autoplay
            loop playsinline></video>
        </div>
      </div>
      <div class="row">
        <div class="alert" style="width: 80%;" id='engage-digital-alert'></div>
      </div>
    </div>
  </div>
  </div>

</body>

</html> -->

<div class="container-fluid">
  <div class="row">
    <div class="col-9" style="text-align: center;background-color: rgb(209, 224, 200);">
      <p>
      <div style="color: #171618;"><strong>Click-to-Call Demo Application</strong></div>
      </p>
    </div>
    <div class="col" style="background-color: rgb(209, 224, 200);">
      <div class=" callButton">
      <button id="engage-digital-click-to-call-btn"></button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-9">
    <br>
    <div style="color: blue;font-family:Georgia, 'Times New Roman', Times, serif;;">Guide to plug-in Click-to-Call
      feature to your website</div>
    <br>
    <!-- <iframe src="app-guide-content.html" class="guide-content"></iframe> -->
  </div>
  <div class="col-3">
    <div class="row">
      <div class="innervideo">
        <div class="watermark">Local Video</div><video class="localVideo" id="engage-digital-local-video" autoplay
          loop muted playsinline></video>
      </div>
    </div>
    <div class="row">
      <div class="innervideo">
        <div class="watermark">Remote Video</div><video class="remoteVideo" id="engage-digital-remote-video" autoplay
          loop playsinline></video>
      </div>
    </div>
    <div class="row">
      <!-- Its optional and useful in debugging -->
      <div class="alert" style="width: 80%;" id='engage-digital-alert'></div>
    </div>
  </div>
</div>
</div>