<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AdminHub</title>
</head>

<body>
  <!-- SIDEBAR -->
  <section id="sidebar">
    <a href="#" class="brand" style="margin-bottom: -40px; margin-top: 20px;">
      <img class="img-fluid" style="width: 64px; height: 64px;" src="./imgs/logo.png">
      <span class="text">¡Bee GO!</span>
    </a>
    <ul class="side-menu top">
      <li class="active">
        <a href="./">
          <i class='bx bxs-dashboard'></i>
          <span class="text">Inicio</span>
        </a>
      </li>
      <li>
        <a href="./popayan">
          <i class='bx bxs-dashboard'></i>
          <span class="text">Popayán</span>

        </a>
      </li>
      <li>
        <a href="./cartagena">
          <i class='bx bxs-dashboard'></i>
          <span class="text">Cartagena</span>
        </a>
      </li>
      <li>
        <a href="./medellin">
          <i class='bx bxs-dashboard'></i>
          <span class="text">Medellin</span>
        </a>
      </li>
    </ul>
  </section>
  <!-- SIDEBAR -->

  <!-- CONTENT -->
  <section id="content">
    <!-- NAVBAR -->
    <nav>
      <i class='bx bx-menu'></i>
      <form id="search-form" style="display: none;">
        <div class="form-input">
          <button type="submit" class="search-btn"><i class='bx bx-search'></i></button>
        </div>
      </form>
      <input type="checkbox" id="switch-mode" hidden>
      <label for="switch-mode" class="switch-mode" style="margin-top: 10px;"></label>
    </nav>
    <!-- NAVBAR -->

    <!-- MAIN -->
    <main>
      <div style="text-align: center;" id="container_home">
        <h1>¡BeeGo!</h1>
        <img class="img-fluid" src="./imgs/logo.png" style="margin-top: -50px;">
        <h2>Bienvenidos a BeeGo, esperamos tu experiencia sea de agrado</h2>
      </div>
    </main>
    <!-- MAIN -->
  </section>
  <!-- CONTENT -->
</body>

</html>