<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AdminHub</title>
</head>

<body>
  <!-- SIDEBAR -->
  <section id="sidebar">
    <a href="#" class="brand" style="margin-bottom: -40px; margin-top: 20px;">
      <img class="img-fluid" style="width: 64px; height: 64px;" src="./imgs/logo.png">
      <span class="text">¡Bee GO!</span>
    </a>
    <ul class="side-menu top">
      <li>
        <a href="./">
          <i class='bx bxs-dashboard'></i>
          <span class="text">Inicio</span>
        </a>
      </li>
      <li class="active">
        <a href="./popayan">
          <i class='bx bxs-dashboard'></i>
          <span class="text">Popayán</span>

        </a>
      </li>
      <li>
        <a href="./cartagena">
          <i class='bx bxs-dashboard'></i>
          <span class="text">Cartagena</span>
        </a>
      </li>
      <li>
        <a href="./medellin">
          <i class='bx bxs-dashboard'></i>
          <span class="text">Medellin</span>
        </a>
      </li>
    </ul>
  </section>

  <section id="content">
    <!-- NAVBAR -->
    <nav>
      <i class='bx bx-menu'></i>
      <<a href="./" class="nav-link">Inicio</a>
      <form action="#">
        <div class="form-input">
          <input type="search" placeholder="Buscar...">
          <button type="submit" class="search-btn"><i class='bx bx-search'></i></button>
        </div>
      </form>
      <input type="checkbox" id="switch-mode" hidden>
      <label for="switch-mode" class="switch-mode"></label>
    </nav>
    <!-- NAVBAR -->

    <!-- MAIN -->
    <main>
      <div id="contenedor_informarcion" style="text-align: center;">
        <h1><b>SAN FRANCISCO</b></h1>
      </div>
      <div class="contenedor-imagenes">
        <div class="box">
          <img src="./imgs/SanFrancisco/2.jpg" alt="">
        </div>

        <div class="box">
          <img src="./imgs/SanFrancisco/3.jpg" alt="">
        </div>

        <div class="box">
          <img src="./imgs/SanFrancisco/4.jpg" alt="">
        </div>
      </div>
      <div style="text-align: center;">
        <h6>
          <div style="text-align: center;" id="contenedor_informarcion2">
            <h6>La Iglesia de San Francisco de Asís de la Orden de Frailes Menores de Popayán o Iglesia de San Francisco
              es uno de los templos católicos más importantes de Colombia por su estilo barroco tardío neogranadino. En
              su campanario posee una de las campanas más grandes de América denominada campana de San Antonio, fundida
              en oro y bronce.</h6>
          </div>
        </h6>
      </div>
      <div style="text-align: center;">
        <br>
        <div class="callButton">
          <button id="btnLlamada" class="btn btn-primary"></button>
        </div>
        <div class="row">
          <div class="innervideo">
            <video class="localVideo" id="engage-digital-local-video" style="width:0 ; height: 0;" autoplay loop muted
              playsinline></video>
          </div>
        </div>
        <div class="row">
          <div class="innervideo">
          </div><video class="remoteVideo" id="engage-digital-remote-video" autoplay loop playsinline
            style="width:0 ; height: 0;"></video>
        </div>
      </div>
    </main>
  </section>
</body>