<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Información</title>
    </head>
    <body>
        <h1>Información del lugar</h1>
        <h2>QR Torre del Reloj</h2>
        <br>
        <canvas id="qr1"></canvas>
        <h2>QR Puente del humilladero</h2>
        <br>
        <canvas id="qr2"></canvas>
        <h2>QR Iglesia de San Francisco</h2>
        <br>
        <canvas id="qr3"></canvas>
        <br>
        <h2>QR Belen</h2>
        <canvas id="qr4"></canvas>
        <br>
        <h2>QR El Morro</h2>
        <canvas id="qr5"></canvas>
        <br>
        <h2>QR IPueblito Patojo</h2>
        <canvas id="qr6"></canvas>
        <br>
        <script>
            var qr1 = new QRious({
                element: document.getElementById("qr1"),
            });
            qr1.foreground = "#c3a531";
            qr1.level = "H";
            qr1.padding = 25;
            qr1.size = 250;
            qr1.value = "https://s9vb4wb8cn.us-east-1.awsapprunner.com/torredelreloj";

            var qr2 = new QRious({
                element: document.getElementById("qr2"),
            });
            qr2.foreground = "#c3a531";
            qr2.level = "H";
            qr2.padding = 25;
            qr2.size = 250;
            qr2.value = "https://s9vb4wb8cn.us-east-1.awsapprunner.com/puentedelhumilladero.html";

            var qr3 = new QRious({
                element: document.getElementById("qr3"),
            });
            qr3.foreground = "#c3a531";
            qr3.level = "H";
            qr3.padding = 25;
            qr3.size = 250;
            qr3.value = "https://s9vb4wb8cn.us-east-1.awsapprunner.com/iglesiasafrancisco.html";

            var qr4 = new QRious({
                element: document.getElementById("qr4"),
            });
            qr4.foreground = "#c3a531";
            qr4.level = "H";
            qr4.padding = 25;
            qr4.size = 250;
            qr4.value = "https://s9vb4wb8cn.us-east-1.awsapprunner.com/belen.html";

            var qr5 = new QRious({
                element: document.getElementById("qr5"),
            });
            qr5.foreground = "#c3a531";
            qr5.level = "H";
            qr5.padding = 25;
            qr5.size = 250;
            qr5.value = "https://s9vb4wb8cn.us-east-1.awsapprunner.com/elmorro.html";

            var qr6 = new QRious({
                element: document.getElementById("qr6"),
            });
            qr6.foreground = "#c3a531";
            qr6.level = "H";
            qr6.padding = 25;
            qr6.size = 250;
            qr6.value = "https://s9vb4wb8cn.us-east-1.awsapprunner.com/pueblitopatojo.html";

        </script>
    </body>
</html>
