<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no">
    <link rel="icon" type="image/png" href="./imgs/icono.ico">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.min.css">
    <meta name="viewport" content="width=device-width, initial scale=1.0">
    <title>BeeGo!!!</title>
    <style type="text/css">
        {>css}
    </style>
</head>

<body id="main">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.all.min.js"></script>
    <script src="./jquery/jquery-3.6.1.min.js"></script>
    <script src="./utils/config.js"></script>
    <script src="./utils/general.js"></script>
    <script>{>js}</script>
    {>body}
    <!--<div id="token_main" class="d-none" style="display: none;">
        {token_main}
    </div>-->
</body>

</html>