<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AdminHub</title>
</head>

<body>
  <!-- SIDEBAR -->
  <section id="sidebar">
    <a href="#" class="brand" style="margin-bottom: -40px; margin-top: 20px;">
      <img class="img-fluid" style="width: 64px; height: 64px;" src="./imgs/logo.png">
      <span class="text">¡Bee GO!</span>
    </a>
    <ul class="side-menu top">
      <li>
        <a href="./">
          <i class='bx bxs-dashboard'></i>
          <span class="text">Inicio</span>
        </a>
      </li>
      <li>
        <a href="./popayan">
          <i class='bx bxs-dashboard'></i>
          <span class="text">Popayán</span>

        </a>
      </li>
      <li>
        <a href="./cartagena">
          <i class='bx bxs-dashboard'></i>
          <span class="text">Cartagena</span>
        </a>
      </li>
      <li class="active">
        <a href="./medellin">
          <i class='bx bxs-dashboard'></i>
          <span class="text">Medellin</span>
        </a>
      </li>
    </ul>
  </section>
  <!-- SIDEBAR -->

  <!-- CONTENT -->
  <section id="content">
    <!-- NAVBAR -->
    <nav>
      <i class='bx bx-menu'></i>
      <a href="./" class="nav-link">Inicio</a>
      <form id="search-form">
        <div class="form-input">
          <input type="search" id="search-input" placeholder="Buscar...">
          <button type="submit" class="search-btn"><i class='bx bx-search'></i></button>
        </div>
      </form>
      <input type="checkbox" id="switch-mode" hidden>
      <label for="switch-mode" class="switch-mode"></label>
      <!-- <a href="#" class="notification">
                <i class='bx bxs-bell'></i>
                <span class="num">8</span>
            </a>
            <a href="#" class="profile">
                <img src="img/people.png">
            </a> -->
    </nav>
    <!-- NAVBAR -->

    <!-- MAIN -->
    <main>
      <ul class="box-info">
        <li title="comuna 13">
          <div class="card-container" style="text-align: center;">
            <img class="img-thumbnail" src="./imgs/Medellin/1.jpg" alt="Responsive image">
            <div class="card-body">
              <h5 class="card-title" id="card-title">Comuna 13</h5>
              <a target="_blank"><button type="button" class="btn btn-primary" id="torredelreloj">Ver más</button></a>
            </div>
          </div>
        </li>
        <li title="jardín botánico de medellín">
          <div class="card-container" style="text-align: center;">
            <img class="img-thumbnail" src="./imgs/Medellin/2.jpg" alt="Responsive image">
            <div class="card-body">
              <h5 class="card-title">Jardín Botánico de Medellín</h5>
              <a target="_blank"><button type="button" class="btn btn-primary" id="puentedelhumilladero">Ver
                  más</button></a>
            </div>
          </div>
        </li>

        <li title="cerro quitasol">
          <div class="card-container" style="text-align: center;">
            <img class="img-thumbnail" src="./imgs/Medellin/3.jpg" alt="Responsive image">
            <div class="card-body">
              <h5 class="card-title">Cerro Quitasol</h5>
              <a target="_blank"><button type="button" class="btn btn-primary" id="iglesiasafrancisco">Ver
                  más</button></a>
            </div>
          </div>
        </li>

        <li title="parque arvi">
          <div class="card-container" style="text-align: center;">
            <img class="img-thumbnail" src="./imgs/Medellin/4.jpg" alt="Responsive image">
            <div class="card-body">
              <h5 class="card-title">Parque Arvi</h5>
              <a target="_blank"><button type="button" class="btn btn-primary" id="belen">Ver
                  más</button></a>
            </div>
          </div>
        </li>

        <li title="plaza botero">
          <div class="card-container" style="text-align: center;">
            <img class="img-thumbnail" src="./imgs/Medellin/5.jpg" alt="Responsive image">
            <div class="card-body">
              <h5 class="card-title">Plaza Botero</h5>
              <a target="_blank"><button type="button" class="btn btn-primary" id="elmorro">Ver
                  más</button></a>
            </div>
          </div>
        </li>

        <li title="pueblito paisa">
          <div class="card-container" style="text-align: center;">
            <img class="img-thumbnail" src="./imgs/Medellin/6.jpg" alt="Responsive image">
            <div class="card-body">
              <h5 class="card-title">Pueblito Paisa</h5>
              <a target="_blank"><button type="button" class="btn btn-primary" id="pueblitopatojo">Ver
                  más</button></a>
            </div>
          </div>
        </li>

      </ul>
    </main>
    <!-- MAIN -->
  </section>
  <!-- CONTENT -->
</body>

</html>