<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AdminHub</title>
</head>

<body>
  <!-- SIDEBAR -->
  <section id="sidebar">
    <a href="#" class="brand" style="margin-bottom: -40px; margin-top: 20px;">
      <img class="img-fluid" style="width: 64px; height: 64px;" src="./imgs/logo.png">
      <span class="text">¡Bee GO!</span>
    </a>
    <ul class="side-menu top">
      <li>
        <a href="./">
          <i class='bx bxs-dashboard'></i>
          <span class="text">Inicio</span>
        </a>
      </li>
      <li class="active">
        <a href="./popayan">
          <i class='bx bxs-dashboard'></i>
          <span class="text">Popayán</span>

        </a>
      </li>
      <li>
        <a href="./cartagena">
          <i class='bx bxs-dashboard'></i>
          <span class="text">Cartagena</span>
        </a>
      </li>
      <li>
        <a href="./medellin">
          <i class='bx bxs-dashboard'></i>
          <span class="text">Medellin</span>
        </a>
      </li>
    </ul>
  </section>

  <section id="content">
    <!-- NAVBAR -->
    <nav>
      <i class='bx bx-menu'></i>
      <a href="./" class="nav-link">Inicio</a>
      <form action="#">
        <div class="form-input">
          <input type="search" placeholder="Buscar...">
          <button type="submit" class="search-btn"><i class='bx bx-search'></i></button>
        </div>
      </form>
      <input type="checkbox" id="switch-mode" hidden>
      <label for="switch-mode" class="switch-mode"></label>
    </nav>
    <!-- NAVBAR -->

    <!-- MAIN -->
    <main>
      <div id="contenedor_informarcion" style="text-align: center;">
        <h1><b>TORRE DEL RELOJ</b></h1>
      </div>
      <div class="contenedor-imagenes">
        <div class="box">
          <img src="./imgs/TorreDelReloj/2.jpg" alt="">
        </div>

        <div class="box">
          <img src="./imgs/TorreDelReloj/3.jpg" alt="">
        </div>

        <div class="box">
          <img src="./imgs/TorreDelReloj/4.jpg" alt="">
        </div>
      </div>
      <br>
      <div style="text-align: center;" id="contenedor_informarcion2">
        <h6>La Torre del Reloj de Popayán, conocida también como La Nariz de Popayán, está ubicada en la esquina
          suroccidental del Parque Caldas, formada por las calles de El Reloj y Real de las Catedrales (Carrera 7 con
          Calle 5) en pleno Centro Histórico de la capital del Departamento del Cauca</h6>
      </div>
      <div style="text-align: center;">
        <br>
        <div class="callButton">
          <button id="btnLlamada" class="btn btn-primary"></button>
        </div>
        <div class="row">
          <div class="innervideo">
            <video class="localVideo" id="engage-digital-local-video" style="width:0 ; height: 0;" autoplay loop muted
              playsinline></video>
          </div>
        </div>
        <div class="row">
          <div class="innervideo">
          </div><video class="remoteVideo" id="engage-digital-remote-video" autoplay loop playsinline
            style="width:0 ; height: 0;"></video>
        </div>
      </div>
    </main>
  </section>
</body>